body {
  font-family: Verdana,sans-serif;
  text-align: center;
  width: 500px;
  margin: auto;
}
input {
  width: 100%;
}
select {
    width: 100px;
    font-size: 70px;
    height: 80px;
    background-color: green;
    color: white;
}
option {
    background-color: green;
    color: white;
}
button.gross {
    background-color: green;
    color:white;
    padding: 5px 12px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    border-radius: 4px;
    -webkit-transition-duration: 0.7s; /* Safari */
    transition-duration: 0.7s;
    border:2px solid Green;
}
button.gross:hover {
    background-color: white;
    color:black;
}
