body {
    font-family: Verdana,sans-serif;
  }
  .rahmen {
    display: block;
    width: 1300px;
    margin: auto;
    background-image: url(background.jpg);
    padding-bottom: 100px;
    padding-top: 10px;
  }
  .bigben {
    display: block;
    width: 1200px;
    margin: auto;
    background-image: url(bigben.jpg);
    background-repeat: repeat-y; 
    background-attachment: fixed;
    background-size: 100%;
    padding-bottom: 100px;
    padding-top: 10px;
  }
  h6 {
    font-size: 60px;
    color:green;
    text-align: center;
  }
  
  .menu {
    background-color: black;
    width: 100%;
    padding: 10px;
    color: rgb(129, 123, 123);
    padding: 5px;
  }
  a {
    text-decoration: none;
  }
  button.menu1 {
    font-size: 30px;
    border: none;
    padding: 5px;
    color: rgb(168, 162, 162);
    display: inline;
    background-color: black;
  }
  h4 {
    font-size: 70px;
    color: white;
    text-align: center;
  }
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    font-size: 30px;
    display: block;
    width: 250px;
    margin: auto;
    border: none;
    cursor: pointer;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin: auto;
  
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  } 
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  .marmor {
    display: block;
    width: 100%;
    margin: auto;
    background-image: url(Marmor.jpg);
    background-repeat: repeat-y; 
    background-attachment: fixed;
    background-size: 100%;
    padding-bottom: 100px;
    padding-top: 10px;
  }
  .marmor2 {
    display: block;
    width: 1200px;
    margin: auto;
    background-image: url(Marmor.jpg);
    background-repeat: repeat-y; 
    background-attachment: fixed;
    background-size: 100%;
    padding-bottom: 100px;
    padding-top: 10px;
  }
  
  
  h1 {
    font-size: 80px;
    text-align: center;
    color:black
  }
  h2 {
    text-align: center;
    font-size: 50px;
  
  }
  h3{
    font-size: 40px;
    text-align: center;
  
  }
  p {
    font-size: 35px;
    text-align: center;
    color: black 
  }
  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 20px
  }
  
  table {
    margin: auto;
    margin-top: 20px;
    width: 90%;
    text-align: left;
    border-collapse: collapse;
  }
  tr {
    background-color: #777777;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  td {
    border: 1px solid;
    padding: 3px;
    font-size: 25px;
  }
   th {
    border: 1px solid;
    padding: 3px;
    font-size: 50px;
    color: black
  }
  button.klein {
    border: 2px solid #4CAF50; 
    font-size: 25px;
    padding: 6px;
    background-color:#4CAF50; 
    color:white; 
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
     border-radius: 1px;
     -webkit-transition-duration: 1.5s; /* Safari */
    transition-duration: 1.5s;
    border-radius: 4px;
    }
  button.klein:hover {
    border-radius: 4px;
    border: 2px solid #4CAF50; 
    background-color: white;
    color: black;
    -webkit-transition-duration: 1.5s; /* Safari */
    transition-duration: 1.5s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  button.gross {
      background-color: green;
      color:white;
      padding: 15px 32px;
      text-align: center;
      display: inline-block;
      font-size: 30px;
      border-radius: 4px;
      -webkit-transition-duration: 0.7s; /* Safari */
      transition-duration: 0.7s;
      border:2px solid Green;
  
  
  }
  button.gross:hover {
      background-color: white;
      color:black;
      padding: 15px 32px;
      text-align: center;
      display: inline-block;
      font-size: 30px;
      border-radius: 4px;
      border:2px solid Green;
  }
  button.kleinfloat2 {
      width: 290px;
      background-color: green;
      color:white;
      padding: 15px 32px;
      text-align: center;
      display: inline-block;
      font-size: 30px;
      -webkit-transition-duration: 0.7s; /* Safari */
      transition-duration: 0.7s;
      border:2px solid Green;
  }
  button.kleinfloat2:hover {
      width: 290px;
      background-color: white;
      color:black;
      padding: 15px 32px;
      text-align: center;
      display: inline-block;
      font-size: 30px;
      border:2px solid Green;
  }
  button.kleinfloat3 {
      width: 230px;
      background-color: green;
      color:white;
      padding: 15px 32px;
      text-align: center;
      display: inline-block;
      font-size: 20px;
      -webkit-transition-duration: 0.7s; /* Safari */
      transition-duration: 0.7s;
      border:2px solid Green;
  }
  button.kleinfloat3:hover {
      width: 230px;
      background-color: white;
      color:black;
      padding: 15px 32px;
      text-align: center;
      display: inline-block;
      font-size: 20px;
      border:2px solid Green;
  }
  .strenggeheim {
    font-size: 50px;
    color: white
  }
  input.klein  {
    font-size:30px;
  }
    input.gross{
    font-size: 50px;
    padding: 30px;
  }
    
  div.navigation {
    background-color:green;
  }
  ul.navigation {
    display: block;
  }
  li.navigation {
    display: inline-block;
  }
  