body {
  font-family: Verdana,sans-serif;
  text-align: center;
  width: 500px;
  margin: auto;
}
input {
  width: 80%;
  font-size: 40px;
}
select {
    width: 60px;
    font-size: 35px;
    height: 50px;
    color: white;
    background-color: green;
}
option {
    color: white;
}
button.gross {
    background-color: green;
    color:white;
    padding: 7px 16px;
    text-align: center;
    display: inline-block;
    font-size: 40px;
    border-radius: 4px;
    -webkit-transition-duration: 0.7s; /* Safari */
    transition-duration: 0.7s;
    border:2px solid Green;
}
button.gross:hover {
    background-color: white;
    color:black;
}
.klein {
  width: 100%;
  font-size: 35px;
}
